/* GENERAL STYLES */

html body {
	font-family:"Arial", Helvetica, sans-serif;
	margin: 0;
	width:100%;
	height:100%;
	color:#FFFFFF;
	font-size:12px;
	background:url('../img/formBG.jpg') repeat center center fixed;
	background-size:cover;
}

#line1{
	width:100%;
	height:2px;
	float:left;
	margin-top:150px;
	position: absolute;
	background:#A1A1A1;
}

#header {
	width:100%;
	height:150px;
	background:#000000;
	display:block;
	position:absolute;
}

#headerContent {
	height:100px;
	margin: 0 auto;
}

#oscarsTitleContainer{
	width: 377px;
	height: 96px;
	background:url('../img/ballotHeaderImg.png') no-repeat;
	margin: 0 auto;
	margin-top:27px;
}

/* CONTENT STYLES */

.spacer{
	float:left;
	width:100%;
	height:170px;
}
#spacer2{
	margin-left:150px;
}

#formContainer{
	width:100%;
	height: 100%;
	max-width:1800px;
	float:left;
	margin: 0 auto;
}

#formTitle{
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:20px;
	text-shadow: 2px 2px 4px #FF0000;
}

.nomineesFieldset{
	width: 250px;
	height: 200px;
	float:left;
	background:rgba(0,0,0,0.5);
}

.nomineesFieldset legend{
	font-size:18px;
	text-shadow: 2px 2px 2px #FF0000;
}

#submitButton{
	width: 544px;
	height: 40px;
	float:left;
	margin-top:20px;
	color:#FFFFFF;
	background-color:#111111;
	cursor:pointer;
}

@media (max-width: 1300px) {
#spacer2{
	margin-left:60px;
}
}

@media (max-width: 800px) {
#submitButton{
	width: 270px;
	height: 40px;
	float:left;
	margin-top:20px;
	color:#FFFFFF;
	background-color:#111111;
	cursor:pointer;
}
#spacer2{
	margin-left:20px;
}
}

