@charset "utf-8";
/* CSS Document */

html body {
	font-family:"Arial", Helvetica, sans-serif;
	margin: 0;
	width:100%;
	height:100%;
	color:#000000;
	font-size:12px;
}

p{
	display:none;
	padding-left:10px;
	cursor:pointer;
}

h4{
	display:none;
	padding-left:10px;
}

/* HEADER */

#header {
	width:100%;
	height:120px;
	background:#000000;
	display:block;
	position:absolute;
	float:left;
}

#headerContent {
	width:800px;
	height:100px;
	margin: 0 auto;
}

#oscarsTitleContainer{
	width: 377px;
	height: 96px;
	background:url('../img/headerImg.png') no-repeat;
	margin: 0 auto;
	margin-top:12px;
}

/* CHART AREA */

#chartBackgroundDivContainer{
	width:100%;
	height:340px;
	float:left;
	margin-top:122px;
	position: absolute;
	background:#E0E0E0;
}

#chartBackgroundDiv{
	width:100%;
	max-width:1280px;
	height:340px;
	margin:0 auto;
	background:url('../img/nomineesPics/bestSupportingActorBG.jpg') no-repeat;
	background-size:100% 100%;
}

#chartContainer{
	width:900px; 
	height:300px; 
	margin: 0 auto; 
	padding-top:170px; 
	z-index:1;
}

/* NOMINEES SELECTION AREA */

#spacer{
	width:100%;
	height:180px;
	float:left;
}

#nomineesContainer {
	width:1200px;
	height:100%;
	margin: 0 auto;
}

.categoryContainer {
	width:40px;
	height:300px;
	background:#FFFFFF;
	float:left;
	border-radius:10px;
	margin-left:0px;
	transition: width 0.5s, background 0.5s;
	-moz-transition: width 0.5s, background 0.5s;
	-webkit-transition: width 0.5s, background 0.5s;
	opacity:0.8;
}


/* NOMINEES TITLE DIV STYLES */

#BestPicture{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestPicture.png') #cccccc no-repeat;
}

#BestDirector{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestDirector.png') #cccccc no-repeat;
}

#BestLeadingActor{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestLeadingActor.png') #cccccc no-repeat;
}

#BestLeadingActress{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestLeadingActress.png') #cccccc no-repeat;
}

#BestSupportingActor{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestSupportingActor.png') #cccccc no-repeat;
}

#BestSupportingActress{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestSupportingActress.png') #cccccc no-repeat;
}

#BestOriginalScreenplay{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestOriginalScreenplay.png') #cccccc no-repeat;
}

#BestAdaptedScreenplay{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestAdabtedScreenplay.png') #cccccc no-repeat;
}

#BestAnimatedFeatureFilm{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestAnimatedFeatureFilm.png') #cccccc no-repeat;
}

#BestForeignLanguageFilm{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestForeignLanguageFilm.png') #cccccc no-repeat;
}

#BestCinematography{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestCinematography.png') #cccccc no-repeat;
}

#BestEditing{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestEditing.png') #cccccc no-repeat;
}

#BestProductionDesign{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestProductionDesign.png') #cccccc no-repeat;
}

#BestCostumeDesign{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestCostumeDesign.png') #cccccc no-repeat;
}

#BestMakeupandHairstyling{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestMakeupAndHairstyling.png') #cccccc no-repeat;
}

#BestOriginalScore{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestOriginalScore.png') #cccccc no-repeat;
}

#BestOriginalSong{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestOriginalSong.png') #cccccc no-repeat;
}

#BestSoundMixing{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestSoundMixing.png') #cccccc no-repeat;
}

#BestSoundEditing{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestSoundEditing.png') #cccccc no-repeat;
}

#BestVisualEffects{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestVisualEffects.png') #cccccc no-repeat;
}

#BestDocumentaryFeature{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestDocumentaryFeature.png') #cccccc no-repeat;
}

#BestDocumentaryShort{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestDocumentaryShort.png') #cccccc no-repeat;
}

#BestShortFilmAnimated{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestShortFilmAnimated.png') #cccccc no-repeat;
}

#BestShortFilmLiveAction{
	float:left;
	position:inherit;
	width:30px;
	height: 300px;
	border-radius:10px;
	cursor:pointer;
	background:url('../img/titles/bestShortFilmLiveAction.png') #cccccc no-repeat;
}