    <div id="header">
        <div id="headerContent">
            <div id="oscarsTitleContainer">
            </div>
        </div>
    </div>
    
    <div id="chartBackgroundDivContainer">
        <div id="chartBackgroundDiv">
        </div>
    </div>
    
    <div ng-controller="ChartCtrl">
        	<highchart id="chartContainer" config="chartConfig" ></highchart>
    </div>
    
    <div id="spacer"></div>
    
    <div id="nomineesContainer" ng-controller="NomineesVisibilityCtrl">
        <div id="{{category.name}}div" class="categoryContainer" ng-repeat="category in categories | orderBy:orderNum">
       		<div id="{{category.name}}" class="categoryTitle" ng-click="showAndHide(category.name);">
                <!-- TODO replace images as category names -->
                <h4 class="{{category.name}}text">{{category.title}}</h4>
            </div>
            <div class="nominees">
                <h4 class="{{category.name}}text">{{category.title}}</h4>
                <div class="nominee" ng-repeat="nominee in category.choices">
                    <p class="{{category.name}}text" ng-click="selectChoice(category.id, nominee)">{{nominee}}</p>
                </div>
            </div>
        </div>
    </div>
